.logo {
  width: 23%;
}

.logoImg {
  width: 100%;
}

.bgRedColorWhite {
  color: white;
  background-color: var(--mainRed);
}

.colorRed {
  color: var(--mainRed);
}

.navbar {
  background-color: var(--white);
  padding-top: 12px;
  padding-bottom: 12px;
}