<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header pb-0">
        <div class="logo">
          <img src="../../../assets/svg/ifood.svg" alt="" class="logoImg" />
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item mb-2">
            <a class="nav-link" href="#">Entregador</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#">Restaurante e Mercado</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#">Carreiras</a>
          </li>
          <li class="nav-item mb-2">
            <a class="nav-link" href="#">iFood Card</a>
          </li>
        </ul>
        <button class="btn col-12 bgRedColorWhite mt-1 py-2">Entrar</button>
        <button class="btn col-12 colorRed mt-1 py-2">criar conta</button>
      </div>
    </div>
    <div class="logo">
      <img src="../../../assets/svg/ifood.svg" alt="" class="logoImg" />
    </div>
    <button class="btn bgRedColorWhite px-4 py-1">Entrar</button>
  </div>
</nav>
