<div
  class="img px-3"
  style="
    background-image: url('https://static.ifood-static.com.br/image/upload/t_banner/webapp/landing/groceries-background-mobile.png');
  "
>
  <div class="">
    <h3 class="mt-5 pt-5">Faça mercado no iFood</h3>
    <p>
      Entregamos tudo o que precisa na porta da sua casa, hortifruti a itens de
      limpeza
    </p>
  </div>

  <div class="container">
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="input-group">
          <span class="input-group-text" id="search">
            <img
              src="../../../assets/svg/search-Ifood.svg"
              alt=""
              class="svgSearch"
            />
          </span>
          <input
            type="text"
            class="form-control"
            placeholder="Em qual endereço você está?"
            aria-describedby="search"
          />
        </div>
      </div>
      <div class="col-md-4 my-2">
        <button class="btn bgRedColorWhite col-12">
          Ver mercados próximos
        </button>
      </div>
      <div class="mt-3">
        <app-topics-header class="row row-cols-auto"/>
      </div>
    </div>
  </div>
</div>
